.container {
	margin: 0 auto;
	width: 80%;
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	border-bottom: 2px dotted #000;
    text-decoration: none;
	color: #3e3e3f;
}

a:hover {
	color: #4dad91;
}

.header {
	width: 100%;
	background-color: #1ac3a2;
	height: 125px;
	position: relative;
}

.header a {
	color: white;
	border: none;
}

.header span {
	position: absolute;
	padding-left: 15px;
	bottom: 0px;
}

.content-container {
	padding-top: 20px;
	width: 100%;
	height: 100%;
}

.content-left {
	width: 68%;
	height: 100%;
	float: left;
}

.content-right {
	margin-top: 30px;
	padding-left: 15px;
	padding-top: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #b5b7b7;
	height: 100%;
	width: 30%;
	float: right;
}

#countdown {
	font-weight: 500;
	font-size: 40px;
	margin-bottom: 2px;
}

ul {
	list-style: none;
	padding-left: 0px;
}

li {
	padding-bottom: 10px;
	padding-left: 5px;
}

.upload-box {
	display: none;
	width: 100%;
	height: 160px;
	background-color: #dbdcdf;
	margin-bottom: 20px;
	padding-left: 10px;
}

.problem-console {

	width: 60%;
	height: 100px;
	padding-top: 50px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin: 0;
}

.problem-text {
	width: 100%;
	height: 100%;
}

.overlay-parent{
    width:100%;
    height:100%;
    overflow:hidden;
 }

.overlay{
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  background-color: black;
  opacity:0.3;
 }