.container {
	margin: 0 auto;
	width: 80%;
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.helptext { 
	visibility: hidden;
}

.submit-container {
	margin: 0 auto;
	width: 80%;
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.register-container {
	width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.register-container form {
	display: inline-block;
}

.submit-container p {
	width: 100%;
	text-align: center;
}

a {
	border-bottom: 2px dotted #000;
    text-decoration: none;
	color: #3e3e3f;
}

a:hover {
	color: #4dadee;
}

.header {
	width: 100%;
	background-color: #4dadee;
	height: 125px;
	position: relative;
}

.header a {
	color: white;
	border: none;
}

.header span {
	position: absolute;
	padding-left: 15px;
	bottom: 0px;
}

.content-container {
	padding-top: 20px;
	width: 100%;
	height: 100%;
}

.content-left {
	width: 68%;
	height: 100%;
	float: left;
}

.content-right {
	margin-top: 30px;
	padding-left: 15px;
	padding-top: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #b5b7b7;
	height: 100%;
	width: 30%;
	float: right;
}

#countdown {
	font-weight: 500;
	font-size: 40px;
	margin-bottom: 2px;
	width: 100%;
	text-align: center;
	padding-top: 5px;
}

ul {
	list-style: none;
	padding-left: 0px;
}

li {
	padding-bottom: 10px;
	padding-left: 5px;
}

.upload-box {
	display: none;
	width: 100%;
	height: 200px;
	background-color: #dbdcdf;
	margin-bottom: 20px;
	padding-left: 10px;
}

.problem-console {

	width: 60%;
	height: 100px;
	padding-top: 50px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin: 0;
}

.problem-text {
	width: 100%;
	height: 100%;
}

.overlay-parent{
    width:100%;
    height:100%;
    overflow:hidden;
 }

.overlay{
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  background-color: black;
  opacity:0.3;
 }
.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: scroll;
    border: 1px solid #D2DAE3;
}
.datagrid table td,
.datagrid table th {
	padding-top: 10px;
	text-align: center;
	width: 10px;
}

.datagrid table thead th {
    background-color: #D2DAE3;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    border-left: 1px solid #000000;
}
.datagrid table thead th:first-child {
    border: none;
}
.datagrid table tbody td {
    color: #000000;
    border-left: 1px solid #B7C2C7;
    font-size: 17px;
    border-bottom: 1px solid #C8D3D9;
    font-weight: normal;
}
.datagrid table tbody .alt td {
    background: #F5F5F5;
    color: #000000;
}
.datagrid table tbody td:first-child {
    border-left: none;
}
.datagrid table tbody tr:last-child td {
    border-bottom: none;
}