{% extends 'base.html' %}

{% block body %}

	<div class="content-container">
		
		{% if start_time == 0 %}

			<div class="content-left">

				<h2> Problems: </h2>
				<ul>
					{% for problem in problems %}
					<h4> <li> <a href="/problem/{{ problem.problem_id }}">{{ problem.title }} </a> </li></h4> 
					{% endfor %}
				</ul>
			</div>

			<div class="content-right">
				<b> Links </b><br><br>
				<ul>
					<h4> <li> <a href="/scoreboard/"> Scoreboard </a> </li> </h4>
					<h4> <li> <a href="/logout/"> Logout </a> </li> </h4>


			</div>

		{% else %}

			<h1> Contest starts at: {{ start_time }} </h1>

		{% endif %}

	</div>
	
{% endblock %}