{% extends 'base.html' %}

{% block body %}
	
	<br><br><br><br><br>
	<div class="register-container">
		<form method='post' enctype="multipart/form-data">
			{% csrf_token %}
			<table>
				<tr>
					<td><b>Login: </b></td>
					<td><input type="text" name="username" /></td>
				</tr>
				<tr>
					<td><b>Password: </b></td>
					<td><input type="password" name="password" /></td>
				<tr>
			</table>
			<br><br>
			<input type="submit" value="Login" />
		</form>	
		<br><br>
		<a href="/register">Register here.</a>
	</div>
{% endblock %}