{% extends 'base.html' %}

{% block body %}

	<div class="content-container">

		<div class="problem-console">
			<div class="problem-console-left">
				<form method="get" action="/source-download/{{ problem.problem_id }}">
					<input type="submit" value="Download Source"><br/><br/>
				</form>
				
				<button id="input-download" onclick="input-download()">Download Input</button> <br>

			</div>
		</div>

		<div class="problem-text">
			<br>
			<h2> {{problem.title}} </h2>

			<p> {{problem.problem_content}} </p>

		</div>
	</div>

{% endblock %}