{% extends 'base.html' %}

{% block body %}

	<div class="content-container">

		<div class="problem-console">
			<form method="get" action="/source-download/{{ problem.problem_id }}">
				<input type="submit" value="Download Source"><br/><br/>
			</form>

			<button id="input-download" onclick="input_download('{{ problem.problem_id }}')" {{ input_button_disabled }}>Download Input</button> <br>

			<b> {{sub_mess}} </b>
			
			<div class="upload-box" id="uploadcontainer">
				<div id="countdown">
				</div>
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}

					<table>
						<tr>
							<td> <b> Upload Source: </b> </td>
							<td><input type="file" name="source" value="Upload source" /></td>
						</tr>
						<tr>
							<td> <b> Upload Output: </b> </td>
							<td><input type="file" name="output" value="Upload output" /></td>
						</tr>
						<tr>
							<td><input type="submit" value="Submit" /></td>
						</tr>
					</table>
				</form>
			</div>
		</div>

		<div class="problem-text" id="problemtext">
			<br>
			<h2> {{problem.title}} </h2>

			<p> {{problem.problem_content}} </p>

		</div>
	</div>

{% endblock %}