{% extends 'base.html' %}
{% block body %}

	<div class="content-left">
		<h2> Scoreboard </h2>

		<form method="GET">
			<b> Contest: </b>
			<select name="contest_id">
				{% for c in contest_list %}
					<option value={{ c.id }} {% if forloop.counter == 0 %} selected="selected" {% endif %}> {{c.name}} </option>
				{% endfor %}
			</select>
			<input type="submit" value="Go"/>
		</form>

		{% if error != "0" %}
			<h3>Incorrect contest </h3>
		{% else %}

		<div class="datagrid">
			<table>
				<thead> 
					<tr>
						<th> Team name </th>
						<th> Time penalty </th>
						<th> Points </th>
						{% for problem in problems %}
							<th>{{ forloop.counter }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
				{% for user in scores %}
					<tr>
						<td> {{ user.username }} </td>
						<td> {{ user.time_penalty }} </td>
						<td> {{ user.total_points }} </td>
						{% for status in user.submission_status %}
							<td>
								{% if status == 0 %}
								
								{% elif status == 2 %}
									<b>?</b>
								{% elif status == 1 %}
									<b style="color:#1be812">A</b>
								{% else %}
									<b style="color:#e80008">W</b>
								{% endif %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

	</div>

	<div class="content-right">
		<b> Links </b><br><br>
		<ul>
			<li> <a href="/"> Problems </a> </li>
			<li> <a href="/logout/"> Logout </a> </li>


	</div>

	{% endif %}
{% endblock %}